# MongoDB Atlas connection string example
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net
PORT=4000
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key
JWT_SECRET=your_jwt_secret_key_here
ADMIN_EMAIL=admin@prescripto.com
ADMIN_PASSWORD=admin123
